version: "0.1.0"
remoteDependencies: [
  "https://code.jquery.com/jquery-1.11.0.min.js"
]
dependencies:
  analytics: "distri/google-analytics:v0.1.0"
  byte_array: "distri/byte_array:v0.1.1"
  cornerstone: "distri/cornerstone:v0.2.6"
  eval: "distri/eval:v0.1.0"
  facebook: "distri/facebook:v0.1.1"
  "grid-gen": "distri/grid-gen:v0.2.0"
  "hotkeys": "distri/hotkeys:v0.2.0"
  "jquery-utils": "distri/jquery-utils:v0.2.0"
  postmaster: "distri/postmaster:v0.2.0"
  runtime: "distri/runtime:v0.3.0"
  "touch-canvas": "distri/touch-canvas:v0.3.1"
  "undo": "distri/undo:v0.2.0"
  util: "distri/util:v0.1.0"
width: 1280
height: 720
