version: "0.2.0"
dependencies:
  ajax: "distri/ajax:v0.1.5-pre.0"
  analytics: "distri/google-analytics:v0.1.0"
  bindable: "distri/bindable:v0.2.0"
  core: "distri/core:v0.6.0"
  eval: "distri/eval:v0.1.0"
  extensions: "distri/extensions:v0.2.0"
  "grid-gen": "distri/grid-gen:v0.2.0"
  matrix: "distri/matrix:v0.3.1"
  observable: "distri/observable:v0.3.7"
  point: "distri/point:v0.2.0"
  postmaster: "distri/postmaster:v0.5.0"
  runtime: "distri/runtime:v0.3.0"
  size: "distri/size:v0.1.4"
  "touch-canvas": "distri/touch-canvas:v0.4.2"
  "undo": "distri/undo:v0.2.0"
  util: "distri/util:v0.1.0"
width: 1280
height: 720
