html, body
  margin: 0
  height: 100%
  font-family: helvetica

body
  color: #222

.opacity
  h2
    font-size: 12px

.editor
  background-color: #AAA
  box-sizing: border-box
  height: 100%
  padding: 0px 72px 64px 35px
  position: relative
  user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -webkit-user-select: none
  overflow: hidden

  .main
    font-size: 0
    height: 100%
    position: relative
    overflow: auto

    .thumbnail
      background-color: white
      border: 1px solid rgba(0, 0, 0, 0.5)
      position: fixed
      top: 4px
      left: 40px
      z-index: 2

      & > canvas
        max-width: 256px
        max-height: 256px
        width: auto
        height: auto

      &.right
        right: 77px
        left: auto

  .position
    position: absolute
    bottom:0
    right: 0.25em
    z-index: 2

  & > .opacity
    display: inline-block
    position: absolute
    right: -2.5em
    bottom: 5em
    z-index: 2

    & > h2
      position: absolute
      right: 40px
      bottom: 3.5em

    input.alphaValue
      position: absolute
      right: 56px
      width: 25px
      bottom: 2em
      text-align: right

    input.alphaSlider
      position: absolute
      right: 8px
      bottom: 4px
      transform: rotate(-90deg)
      width: 64px
      height: 20px

.notifications
  background-color: rgba(0, 0, 0, 0.5)
  border: 1px solid black
  border-bottom-left-radius: 2px
  border-bottom-right-radius: 2px
  color: white
  left: 40px
  padding: 4px
  position: absolute
  top: 0
  z-index: 9000

  &:empty
    padding: 0
    border: none

  p
    margin: 0
    margin-bottom: 0.25em

    &:last-child
      margin-bottom: 0

.toolbar
  box-sizing: border-box
  height: 100%
  width: 40px
  position: absolute
  top: 0
  left: 0

  h2
    font-size: 12px

  .tool
    background-color: #CCC
    background-position: center
    background-repeat: no-repeat
    width: 36px
    height: 36px
    box-sizing: border-box
    border: 1px solid rgba(0, 0, 0, 0.5)
    border-top: 1px solid rgba(255, 255, 255, 0.5)
    border-left: 1px solid rgba(255, 255, 255, 0.5)
    cursor: pointer

    & > .panel
      background-color: #eee
      border-bottom: 1px solid rgba(0, 0, 0, 0.5)
      border-right: 1px solid rgba(0, 0, 0, 0.5)
      border-top: 1px solid rgba(255, 255, 255, 0.5)
      display: none
      margin-top: -1px
      margin-left: 35px
      padding: 3px
      padding-bottom: 4px
      position: absolute
      z-index: 10

    &.panelOpen
      border-right: 1px solid #eee

      &:empty
        border-right: 1px solid rgba(0, 0, 0, 0.5)

      & > .panel
        display: inline-block

    &:last-child
      border-bottom-right-radius: 2px

    &.active
      background-color: #EEE

  .tools:not(:first-child)
    .tool
      &:first-child
        border-top-right-radius: 2px

.palette
  background-color: #CCC
  box-sizing: border-box
  border-left: 1px solid rgba(255, 255, 255, 0.5)
  height: 100%
  width: 50px
  position: absolute
  top: 0
  right: -1px
  font-size: 0

  & > .color
    box-sizing: border-box
    border: 1px solid rgba(255, 255, 255, 0.5)
    border-top: 1px solid rgba(0, 0, 0, 0.5)
    border-left: 1px solid rgba(0, 0, 0, 0.5)
    border-radius: 2px
    display: inline-block
    width: 24px
    height: 24px
    overflow: hidden
    padding: 0

    &.primary.color
      width: 48px
      height: 48px

    & > input
      width: 64px
      height: 64px
      margin: -8px 0 0 -8px
      padding: 0

    &.active
      border: 1px solid rgba(255, 255, 255, 0.875)

    &:nth-child(1)
      border-top-right-radius: 0
      border-top-left-radius: 0
      border-top: 0

    &:nth-child(even)
      border-top-right-radius: 0
      border-bottom-right-radius: 0

.vertical-center
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto

.checkered
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAKUlEQVQ4T2NkIADOnDnzH58SxlEDGIZDGBCKZxMTE7zeZBw1gGEYhAEAJQ47KemVQJ8AAAAASUVORK5CYII=")

.viewport
  background-color: white
  border: 1px solid gray
  margin: auto
  position: relative

  &.vertical-center
    position: absolute

  & > canvas
    image-rendering: optimizeSpeed
    image-rendering: -moz-crisp-edges
    image-rendering: -webkit-optimize-contrast
    image-rendering: optimize-contrast
    image-rendering: pixelated
    -ms-interpolation-mode: nearest-neighbor

    background-color: transparent
    position: absolute
    width: 100%
    height: 100%

  .overlay
    pointer-events: none
    position: absolute
    z-index: 1
    width: 100%
    height: 100%

.debug
  background-color: white
  box-sizing: border-box
  position: absolute
  width: 100%
  height: 100px
  bottom: 0
  margin: 0
  padding: 1em

.actions
  box-sizing: border-box
  width: 100%
  height: 64px
  position: absolute
  bottom: 0
  left: 0

  .action
    cursor: pointer
    width: 64px
    height: 64px

    background-color: #CCC
    background-position: 50% 25%
    background-repeat: no-repeat
    box-sizing: border-box
    border: 1px solid rgba(0, 0, 0, 0.5)
    border-left: none
    border: 1px solid rgba(0, 0, 0, 0.5)
    border-left: 1px solid rgba(255, 255, 255, 0.5)
    border-top: 1px solid rgba(255, 255, 255, 0.5)
    display: inline-block
    font-size: 12px
    position: relative
    vertical-align: top

    &:last-child
      border-top-right-radius: 2px

    .text
      text-align: center
      overflow: hidden
      position: absolute
      width: 100%

      top: 50%

#options
  width: 50%
  height: 50%
  padding: 1em

  button.close
    position: absolute
    bottom: 1em
    right: 1em

  & > label
    display: block
    padding-bottom: 0.5em

#modal
  background-color: rgba(0, 0, 0, 0.25)
  display: none
  position: absolute
  z-index: 9000
  top: 0

  input[type=file]
    box-sizing: border-box
    padding: 5em 2em
    width: 320px
    height: 180px

  & > *
    background-color: white
    border: 1px solid black
    margin: auto
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

  &.active
    display: block
    width: 100%
    height: 100%

#loader
  background-color: rgba(0, 0, 0, 0.5)
  display: none
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 100

.editor.loading > #loader
  display: block
