html, body
  margin: 0
  height: 100%

.editor
  background-color: lightgray
  box-sizing: border-box
  height: 100%
  padding: 0px 80px 40px 40px
  position: relative
  user-select: none
  overflow: hidden

  .main
    font-size: 0
    height: 100%
    position: relative
    overflow: auto

.toolbar
  background-color: white
  box-sizing: border-box
  height: 100%
  width: 40px
  position: absolute
  top: 0
  left: 0

  .tool
    background-color: lightgray
    background-position: center
    background-repeat: no-repeat
    width: 36px
    height: 36px
    box-sizing: border-box
    border: 1px solid rgba(0, 0, 0, 0.5)
    border-radius: 2px
    margin: 2px

    &.active
      background-color: white
      border-color: green

.layers
  background-color: white
  box-sizing: border-box
  font-size: 14px
  height: 100%
  width: 40px
  position: absolute
  top: 0
  right: 0

  .layer
    padding: 2px 0

    &.active
      canvas
        border-color: green

  canvas
    box-sizing: border-box
    border: 1px solid lightgray
    display: block
    margin: auto

.palette
  background-color: white
  box-sizing: border-box
  height: 100%
  width: 40px
  position: absolute
  top: 0
  right: 40px
  font-size: 0

  .color
    box-sizing: border-box
    border: 1px solid rgba(0, 0, 0, 0.5)
    border-radius: 2px
    float: left
    width: 16px
    height: 16px
    margin: 2px

    &.current
      float: none
      width: 36px
      height: 36px

.vertical-center
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto

.viewport
  background-color: white
  border: 1px solid gray
  margin: auto

  canvas
    background-color: transparent
    position: absolute

  .overlay
    pointer-events: none
    position: absolute
    z-index: 1

.debug
  background-color: white
  box-sizing: border-box
  position: absolute
  width: 100%
  height: 100px
  bottom: 0
  margin: 0
  padding: 1em

.actions
  background-color: white
  box-sizing: border-box
  width: 100%
  height: 40px
  padding: 0px 40px
  position: absolute
  bottom: 0
  left: 0

  .action
    background-color: lightgray
    background-position: center
    background-repeat: no-repeat
    width: 36px
    height: 36px
    box-sizing: border-box
    border: 1px solid rgba(0, 0, 0, 0.5)
    border-radius: 2px
    display: inline-block
    margin: 2px
