- Opacity = require "./opacity"
- OpacityPresenter = require "../presenters/opacity"

- Color = require "./color"
- ColorPresenter = require "../presenters/color"

.palette
  - editor = this
  - activeIndex = @activeIndex

  .primary.color
    - style = ->
      - c = editor.activeColor()
      - "background-color: #{c}"
    %input(type="color" value=editor.activeColor style=style)

  - @palette.forEach (color, index) ->
    = Color ColorPresenter color, editor

  = Opacity OpacityPresenter this
