.palette
  - editor = this
  - activeIndex = @activeIndex

  .primary.color
    - style = ->
      - c = editor.activeColor()
      - "background-color: #{c}"
    %input(type="color" value=editor.activeColor style=style)

  - @palette.forEach (color, index) ->
    - showPicker = false
    - click = (e) ->
      - unless showPicker
        - showPicker = true
        - e.preventDefault()

      - setTimeout ->
        - showPicker = false
      - , 500

      - editor.activeColor color()
      - return

    - input = (e) ->
      - editor.activeColor e.target.value

    .color
      - style = -> 
        - c = color()
        - "background-color: #{c}; color: #{c};"
      %input(type="color" value=color click=click input=input style=style)
