.palette
  - editor = this
  - activeIndex = @activeIndex

  .primary.color
    - style = ->
      - c = editor.activeColor()
      - "background-color: #{c}"
    %input(type="color" value=editor.activeColor style=style)

  - @palette.forEach (color, index) ->
    - showPicker = false
    - click = (e) ->
      - unless showPicker
        - e.preventDefault()

    - longHold = null
    - start = (e) ->
      - clearTimeout longHold
      - longHold = setTimeout ->
        - showPicker = true
        - e.target.click()
        - showPicker = false
      - , 500
      - editor.activeColor color()
      - return

    - stop = ->
      - clearTimeout longHold

    - input = (e) ->
      - editor.activeColor e.target.value

    .color(mousedown=start touchstart=start mouseup=stop touchend=stop mouseout=stop)
      - style = -> 
        - c = color()
        - "background-color: #{c}; color: #{c};"
      %input(type="color" value=color click=click input=input style=style)
