.palette
  - editor = this
  - activeIndex = @activeIndex

  .primary.color
    %input(type="color" value=editor.activeColor)

  - @palette.forEach (color, index) ->
    - showPicker = false
    - click = (e) ->
      - unless showPicker
        - e.preventDefault()

    - start = (e) ->
      - setTimeout ->
        - showPicker = true
        - e.target.click()
        - showPicker = false
      - , 1000
      - editor.activeColor color()
      - return false

    .color(mousedown=start touchstart=start)
      %input(type="color" value=color click=click)
